body {
  margin: 0;
  font-family: 'Bebas Neue', cursive;
  text-align: justify;
}

.text-highlight {
  color: orange;
}

.half-width {
  width: 40%;
  float: left;
  margin-left: 5%;
  padding-left: 2%;
}

h1 {
  font-size: 40px;
  margin: 0;
}

p {
  color: dimgray;
  font-family: Arial, Helvetica, sans-serif;
}

.link-button {
    text-decoration: none;
    background: linear-gradient(90deg, orange, red);
    padding: 10px 40px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
}

section {
  height: 500px;
  padding-bottom: 150px;
}

.top-section img{
  width: 100%;
}

.mid-section img{
  width: 100%;
}
#project-showcase {
  width: 80%;
  margin: auto;
  overflow: hidden;
  padding: 20px;
}

#project-showcase h1 {
  text-align: center;
  padding-bottom: 2%;
}

.box {
  margin-left: 1%;
  padding: 1%;
  float: left;
  text-align: center;
  width: 30%;
  box-shadow: 2px 7px 40px gray;
  border-radius: 10px;
}

#project-showcase .box h1{
  font-size: 20px;
  
}

#project-showcase .box img {
  width: 80%;
  height: auto;
  border: 5px solid white;
  border-radius: 10px;
}

footer {
  text-align: center;
}